* {
  box-sizing: border-box;
  margin-bottom: 0;
  margin-top: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
ul,
li {
  list-style: none;
}
img {
  width: 25px;
  height: 25px;
}

#search-box {
  display: block;
  max-width: 100%;

  font-size: inherit;

  padding: 8px;
  margin-top: 50px;
  margin-left: 50px;

  border-radius: 4px;
  border: 2px solid darkgreen;
  background-color: rgb(142, 185, 144);
}

.flag {
  display: flex;
  align-items: center;
  gap: 15px;
}
.country-info {
  margin-left: 50px;
}
